*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 500px;
    height:280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../public/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    display: flex;
    flex-direction: column;
}